<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='Icons/Family-Tree-Logo.jpg')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='Styles/main.css')}}">
    <title>About Me</title>
</head>

<body>
    <h1>Relation: Me</h1>
    <h2>Name: Rounak Singh</h2>
    <h3>Age: 17</h3>
    <img src="../static/Images/me.jpg" style="height: 350px; width: 400px;">
    <br>
    <button type="button"><a href="/Mom/">Click Me!</a></button>
</body>

</html>