<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='Icons/Family-Tree-Logo.jpg')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='Styles/main.css')}}">
    <title>About Mom</title>
</head>

<body>
    <h1>Relation: Mom</h1>
    <h2>Name: Mitu Singh</h2>
    <h3>Age: 38</h3>
    <img src="../static/Images/mother.jpeg" style="height: 450px; width: 500px;">
    <br>
    <button type="button"><a href="/dad/">Click Me!</a></button>
</body>

</html>